#about{
  /* border: 1px solid black; */
  height: 100vh;
  width: 80%;
  
}

#about h3 {
  font-size: 2rem;
  margin: 60px;
}

#about .about-content{
  height: 60%;
  display: flex;
  justify-content: center;
  align-items:center;
}

#about .about-content .about-img img{
  width: 300px;
  height: auto;
  border-radius: 40%;
  object-fit: contain;
}

#about .about-content .about-text{
  margin: 30px;
  font-size: 1.2rem;
}